In [ ]:
# 1.to create a table
create table <table_name>(<column_name_1 datatype optional_parameters>,<column_name_2 datatype,....> )

# 2.to insert values to the table
insert into <table_name>(<column_name_1>,<column_name_2>,...)values(<value_1>,<value_2>,...)

# 3.to retrieve whole data
select * from <table_name>

# 4.to delete all rows of data in a table
Truncate Table <table_name>

# 5.to remove duplicate values from the table
select distinct <column_name> from <table_name>

# 6.to retrieve the number of rows 
select count(*) from <table_name>

# 7.to remove one or more rows from the table
delete from <table_name> where <condition>

# 8.to retrieve data in sorted form based on certain column
select <column_name> from <table_name> order by <column_name>

# 9.to add all the values in a column
select sum(<column_name>) from <table_name>

# 10.to return minimum value from the table
select min(<column_name>) from <table_name>